#circle {
    display:inline-grid;
    width:100px;
    height:100px;
    background:#fff;
    border-radius:50px;
    border:1px solid #f6b669;
    -webkit-align-content:center;
    align-content:center;
    -webkit-justify-content:center;
    justify-content:center;
}
#circle2 {
    width:90px;
    height:90px;
    background:#f2f2f2;
    border-radius:50px;
}
.mdlfooter2 {
    background-color:#eee;
    height:25vh;
    border-top:2px solid #e5e1e1;
}
@media (max-width:767px){

.passwordSpecmain{
        width:88%!important;
    margin:0 auto!important;
}
.passwordSpecmain div{
    font-size:6vw!important;
}
.passwordSpecmain .passwordSpec2,.passwordSpecmain .passwordSpec3{
    font-size:4vw!important;
}
.change_modal_pass input{
    height:34px;
}
.mobremovemargin{
    margin:0!important;
}
}