.flexColumn{
	display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.removemargin{
	margin:0!important;
}
.arrowRight {
    position:absolute;
    top:0;
    right:-10px;
    bottom:0;
    margin:0 auto;
    -webkit-align-items:center;
    align-items:center;
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
    display:flex;
}
.arrowRight img {
    width:5.5vw;
    height:5.5vw;
}
.rotate90minus {
    transform:rotate(-90deg);
}
.MobvenueList{
    overflow:hidden;
}
.MobvenueList .in-header{
	justify-content:flex-end;
    align-items:flex-end;
    margin:0!important;
    padding:0;
    
}
.subheaderListVenue{
	border:0;
    background:#EB5C00;
    color:white;
    padding:3px 12px 3px;
}
.subheaderListVenue img{
	filter:brightness(135);
}