.web_conversation-search {
  display: flex;
  /* flex-direction: column; */
  background: #f4f4f8;
  width: 100%;
}

.web_conversation-search-input {
  background: #f4f4f8;
  padding: 20px 10px;
  border: none;
  font-size: 14px;
  outline: none;
  width: 100%;
  border-radius: '50%';
}

.web_conversation-search-input::placeholder {
  text-align: left;
}

.web_conversation-search-input:focus::placeholder {
  text-align: left;
}
.web_search-icon {
  font-size: 1.5rem;
  /* position: absolute; */
  right: 5px;
}
.web_profile-search-icon {
  display: flex;
  align-items: center;
}
