/*fontfamily*/

@font-face {
  font-family:SFProDisplay-light;
  src:url(../../font/SF-UI-Display-Light.otf);
}

@font-face {
  font-family:SFProDisplay-Regular;
  src:url(../../font/SF-Pro-Display-Regular.ttf);
}

@font-face {
  font-family:SFProDisplay-Bold;
  src:url(../../font/SF-Pro-Display-Bold.ttf);
}
@font-face {
  font-family:SFProDisplay-Semi-Bold;
  src:url(../../font/SF-Pro-Display-Semibold.otf);
}

a.footer-quiclinks-light {
    color:unset!important;
    text-decoration:none;
}a.footer-quiclinks-light:hover {
    text-decoration:none;
}
.footer-quiclinks-light{
	font-family:SFPRODISPLAYLight!important;
}
.customlogoicon span>img{
	width:36px;
	height:36px;
	filter:brightness(100) sepia(165) contrast(100);
}
.footer-div{
	width:100%;
	min-height:56.5px;
	background-color:#ea5b02;
}

.footer-content-div{
	height:auto;
	background-color:#24479d;
	padding:12px;
}

.footer-text{
	width:100%;
	min-height:56.5px;
	display:inline-flex;
}

.footer-quicklinks-ul{
	font-size:22px;
	font-weight:300;
	font-style:normal;
	font-stretch:normal;
	line-height:normal;
	letter-spacing:0.19px;
	color:#ffffff;
	width:100%;
	margin:0px;
	display:inline-flex;
	align-items:center;
	justify-content:center;
	padding:0px;
	flex-wrap:wrap;

}

.footer-quicklinks-ul li{
	float:left;
	list-style:none;
	padding-right:15px;
	padding-left:15px;
	/*font-family:SF-Pro-Display-Regular;*/
}

.footer-quicklinks-ul>.footer-quicklinks-bold{
	font-weight:500 !important;
	/*font-family:SF-Pro-Display-Regular !important;*/
}

/*second-footer*/

.footer-sec-div{
	width:90%;
	margin:0px auto;
	/*height:50px;*/
}

/*Footer icon*/
.footer-icon-ul{
	padding:0px;
	width:100%;
	min-height:60px;
	display:block;
	margin:0;
}
.footer-icon-ul li{
	width:60px;
	height:60px;
	background-color:#ea5b02;
	border-radius:50%;
	float:left;
	padding-right:15px;
	padding-left:15px;
	list-style:none;
	display:inline-flex;
	align-items:center;
	justify-content:center;
	margin-right:15px;
}
.footer-icon span{
	color:#fff;
	font-size:25px;
}

.footer-content p{
	margin:0px;
	font-family:SFPRODISPLAYLight;
	font-size:18px;
	font-weight:300;
	font-style:normal;
	font-stretch:normal;
	line-height:normal;
	letter-spacing:0.2px;
	color:#ffffff;
	text-align:justify;
}
.footer-main-div{
	border-left:2px solid #fff;
	text-align:end;
	padding-left:28px;
}

.footer-logo{
	text-align:end;
}
.footer-logo img{
	width:139px;
	height:auto;
}

.footer-padding{
	padding-top:24px;
	flex-wrap:unset !important;

}

.footer-copyright{
	    font-family:SFProDisplay-Semi-Bold;
	/*font-family:SF-Pro-Display-Regular;*/
	font-size:16px;
	font-weight:600;
	font-style:normal;
	font-stretch:normal;
	line-height:normal;
	letter-spacing:0.1px;
	color:#ffffff;
	padding-left:28px;
	text-align:left;
}




/*media Query*/

@media only screen and (max-width:767px) {

	.footer-div{
		display:none;
	}

}
@media only screen and (max-width:1110px) {

	.footer-media-logo{
		width:25% !important;
		max-width:25% !important;
	}

	.footer-media-content{
		width:75% !important;
		max-width:75% !important;
	}


}
@media only screen and (max-width:767px) {

	.footer-media-logo{
		width:30% !important;
	}

	.footer-media-content{
		width:70% !important;
	}
}







